<main class="uno">
    <div class="chatList">
        <div class="head">
            <a class="menu void">
                <i class="fa fa-bars fa-1x" aria-hidden="true"></i>
            </a>
            <i _ngcontent-c0="" class="icon icon-tg-title"></i>
            <a class="search" void>
                <i class="fa fa-search fa-1x" aria-hidden="true"></i>
            </a>
        </div>
        <div class="list">
            <ul>
                <li *ngFor = 'let item of icontacts'>
                    <a [routerLink]="['/Chat', item.id]">
                        <div class="avatar">
                            <img [src]="item.avatar" alt="">
                        </div>
                        <div class="name">
                            {{item.name}}
                        </div>
                        <div class="lastMsg">
                            Hi, got a minute? Just 1 frigging minute
                        </div>
                        <div class="hour">
                            {{item.hour}}
                        </div>
                    </a>
                </li>
            </ul>
            <div>
                <a class="add void">
                    <i class="fa fa-pencil fa-1x" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</main>