<div class="page_wrap" ng-view=""><div class="login_page_wrap" my-custom-background="#e7ebf0">
    <div class="login_head_bg"></div>
    <div class="login_page">
      <div class="login_head_wrap clearfix" ng-switch="progress.enabled">
        
        <div ng-switch-default="" class="login_head_submit_wrap">
          <a class="login_head_submit_btn" [routerLink] = "['/Chat']">
            Siguiente<i class="icon icon-next-submit"></i>
          </a>
        </div>
        <a class="login_head_logo_link" href="https://telegram.org" target="_blank">
          <i class="icon icon-tg-logo"></i><i class="icon icon-tg-title"></i>
        </a>
      </div>
  
      <div class="login_form_wrap">
        
  
        <form name="mySendCodeForm" ng-if="!credentials.phone_code_hash" ng-submit="sendCode()" class="ng-pristine ng-invalid ng-invalid-required">
          <h3 class="login_form_head" title="login_sign_in">Registrarse</h3>
          <p class="login_form_lead" title="login_enter_number_description">Por favor, escoge tu país y pon tu número de teléfono completo.</p>
  
          <div class="md-input-group md-input-has-value login_phone_country_input_group" ng-click="chooseCountry()">
            <label class="md-input-label" title="login_country_select_placeholder">País</label>
            <div autocomplete="off" class="md-input" ng-bind="credentials.phone_country_name">Colombia</div>
          </div>
  
          <div class="login_phone_groups_wrap clearfix">
  
            <div class="md-input-group login_phone_code_input_group md-input-has-value md-input-animated" ng-class="{'md-input-error': error.field == 'phone'}" my-labeled-input="">
              <label class="md-input-label" title="login_code_input_placeholder">Código</label>
              <input autocomplete="off" class="md-input ng-pristine ng-valid ng-not-empty ng-touched" my-focused="" name="phone_country" type="tel" ng-model="credentials.phone_country">
            </div>
  
            <div class="md-input-group login_phone_num_input_group md-input-animated" ng-class="{'md-input-error': error.field == 'phone'}" my-labeled-input="" ng-switch="error.field == 'phone'">
              
              <label ng-switch-default="" class="md-input-label" title="login_tel_input_placeholder">Número de teléfono</label>
              <input required="" autocomplete="off" my-submit-on-enter="" class="md-input ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" my-focus-on="country_selected" name="phone_number" type="tel" ng-model="credentials.phone_number">
            </div>
  
          </div>
          <div class="login_form_messaging ng-hide" ng-show="progress.enabled" title="login_generating_keys_info">Las claves sólo se generan una vez. Puede tardar unos minutos en dispositivos lentos. Por favor, ten paciencia.</div>
        </form>
      </div>
  
      <div ng-switch="about.shown">
        
        <div ng-switch-default="" class="login_footer_wrap">
          <p title="login_about_intro">Te damos la bienvenida a la versión web oficial de Telegram.</p>
          <a class="logo_footer_learn_more_link" href="" ng-click="about.shown = true" title="login_about_learn">Aprende más</a>
        </div>
  
      </div>
    </div>
  
  </div>
  
  </div>